<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/FoglioDiStile.css">
    <title>Dove siamo</title>
  </head>

  <!--Inizio header-->
<header>



  <!--menu di navigazione-->
  <nav>     
    <ul>
      <div class="barraDiRicerca"> <li><input class="testo_nero" type="search" style="border-radius: 3px;" placeholder="Cerca nel sito"><button class="bottoneRicerca" type="submit">Cerca</button></li></div> 
      
      <li><a href="./SchermataPrincipale.html"><ion-icon name="home"></ion-icon> Home</a></li> 
      <li><a href="#"><ion-icon name="log-in"></ion-icon>Entra nel sito<span style="font-size:8px">&nabla;</span></a>
        <ul> 
          <li style="border-bottom:1px solid #CCC"><a href="./SchermataAccesso.html">Accedi</a></li>
          <li><a href="./SchermataIscrizione.html">Registrati</a></li>
        </ul>
      </li>
      <li><a href="./Dove_siamo.html"><ion-icon name="locate"></ion-icon> Dove siamo</a></li>
       <li><a href="#"><ion-icon name="cafe"></ion-icon> Servizi</a></li>
      <li><a href="#"><ion-icon name="bed"></ion-icon> Camere e tariffe</a></li>
      <li><a href="#"><ion-icon name="mail"></ion-icon> Contatti</a></li>
      <li><a href="#"><ion-icon name="map"></ion-icon> Mappa</a></li>
    </ul>
    </nav>
    


  
</header>  
     <!--Fine header-->

  
 <body> 

 <!-- Alla function vengono passati come parametri la longitudine e latitidine dell'università di Palermo,viale delle scienze ed 7(ing informatica) -->
<div id="paginaMappa">
  <h1>DOVE SIAMO</h1>

  <p>Puoi trovarci all'indirizzo seguente:Viale delle scienze,unipa edificio 7 (ingegneria informatica)</p>

<div id="mappa">
 
 
 <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
  <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
  
  <script>(function () {
      var setting = {"height":844,"width":919,"zoom":19,"queryString":"Viale delle Scienze, 7, Palermo, PA, Italia","place_id":"ChIJw3i2SXrvGRMRPt6r3KSaOPs","satellite":false,"centerCoord":[38.107599162455166,13.352663600000012],"cid":"0xfb389aa4dcabde3e","lang":"it","cityUrl":"/italy/palermo-18798","cityAnchorText":"Mappa di Palermo, Italy South, Italia","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"255166"};
      var d = document;
      var s = d.createElement('script');
      s.src = 'https://1map.com/js/script-for-user.js?embed_id=255166';
      s.async = true;
      s.onload = function (e) {
        window.OneMap.initMap(setting)
      };
      var to = d.getElementsByTagName('script')[0];
      to.parentNode.insertBefore(s, to);
    })();</script><a href="https://1map.com/it/map-embed">1 Map</a></div>


 </div>
</div>

    <!--Inizio footer-->
   
 <footer>
       
  <div class="colonne-footer">    
  
    <div class="colonna-sinistra">
        
      <div class="footer-GEDAName">
      <strong><h4>Note legali</h4></strong>
        <small>&copy;GEDA GROUP</small>
      </div>
        <p>Documentazione</p>
      </div>
  
  
    <div class="colonna-centrale">
      <div class="contatti">
        <strong><h4>Contattaci:</h4></strong>
        <p> <a href="mail@esempio.it">mail@esempio.it</a> </p>
      </div>
  
     <div class="footer-infoSuDiNoi">
       <span>
        <p> 091 123456789 </p> 
        <br><br>
        <p>Dove trovarci:</p>
        <br>
        <p> Via Esempio n1 </p>
      </span>
      </div>
    </div>
   
  
        <div class="colonna-destra">
          <div class="icone-social">
          <h4>Seguici</h4>
          <a href="#"><i> <img src="img/Logo_FB.png" alt="Facebook" height="30" width="30" >  </i></a> 
          <a href="#"><i><img src="img/Logo_IG.png" alt="Instagram" height="30" width="30">   </i></a>
          <a href="#"><i><img src="img/Logo_whatsapp.png" alt="Whatsapp" height="30" width="30">   </i></a>
        </div> 
        </div>
     
      </div> 
       
    </footer>
     <!--Fine footer-->

     <!--Sorgente per utiilizzo GMap.js qui di seguito-->

     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script> 
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=TUA_CHIAVE_API&callback=initMap"></script> 
<script type="text/javascript" src="gmaps.js"></script>
     <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>


  </body>
</html>
