<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pannello Recupero Password</title>
  </head>
  <body>
    <p>
      Inserisci l'indirizzo e-mail con cui ti sei registrato. Ti verrà inviata
      una e-mail con un link che ricondurrà al Pannello Reimposta Password.
    </p>
    <form action="/recuperaPasswordCliente" method="POST">
      <label for="email_C">E-mail</label>
      <input type="email" name="email_R" id="" />
      <br />
      <button type="submit">Conferma</button>
    </form>
  </body>
</html>
