<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuova Casa</title>
  </head>

  <body>
    <form action="/nuovaCasa" enctype="multipart/form-data" method="POST">
      <label for="nome_casa_nc">Nome Casa</label>
      <input type="text" name="nome_casa_nc" id="" />
      <br />
      <label for="indirizzo_nc">Indirizzo Casa</label>
      <input type="text" name="indirizzo_nc" id="" />
      <br />
      <label for="citta_nc">Città</label>
      <input type="text" name="citta_nc" id="" />
      <br />
      <label for="beb_nc">B&B</label>
      <input type="checkbox" name="beb_nc" id="" />
      <br />
      <label for="casa_vacanza_nc">Casa Vacanza</label>
      <input type="checkbox" name="casa_vacanza_nc" id="" />
      <br />
      <label for="camere_nc">Numero Camere</label>
      <input type="number" name="camere_nc" id="" />
      <br />
      <label for="bagni_nc">Numero Bagni</label>
      <input type="number" name="bagni_nc" id="" />
      <br />
      <label for="perimetro_nc">Perimetro Casa (metri quadri)</label>
      <input type="number" name="perimetro_nc" id="" />
      <br />
      <label for="tariffa_nc">Tariffa Giornaliera (euro)</label>
      <input type="number" name="tariffa_nc" id="" />
      <br />
      <label for="capienza_nc">Numero massimo residenti</label>
      <input type="number" name="capienza_nc" id="" />
      <br />
      <label for="tasse_nc">Tasse di soggiorno (euro)</label>
      <input type="number" name="tasse_nc" id="" />
      <br />
      <label for="fasciatoio_nc">Fasciatoio</label>
      <input type="checkbox" name="fasciatoio_nc" id="" />
      <br />
      <label for="segnalatore_fumo_nc">Segnalatori Fumo</label>
      <input type="checkbox" name="segnalatore_fumo_nc" id="" />
      <br />
      <label for="servizi_disabili_nc">Servizi Disabili</label>
      <input type="checkbox" name="servizi_disabili_nc" id="" />
      <br />
      <label for="animali_nc">Animali</label>
      <input type="checkbox" name="animali_nc" id="" />
      <br />
      <label for="cucina_nc">Cucina</label>
      <input type="checkbox" name="cucina_nc" id="" />
      <br />
      <label for="prima_data_nc">Primo giorno di disponibilità</label>
      <input type="date" name="prima_data_nc" id="" />
      <br />
      <label for="ultima_data_nc">Ultimo giorno di disponibilità</label>
      <input type="date" name="ultima_data_nc" id="" />
      <label for="no_last_nc">Non c'è un ultimo giorno di disponibilità</label>
      <input type="checkbox" name="no_last_nc" id="" />
      <input type="file" name="file" />

      <br />
      <br />
      <button type="submit">Aggiungi Casa</button>
    </form>
  </body>
</html>
