<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Iscrizione</title>
  </head>
  <body>
    <h1>PANNELLO ISCRIZIONE CLIENTE</h1>
    <form action="/IscrizioneCliente" method="POST">
      <label for="nome_iscrizioneC">Nome</label>
      <input type="text" name="nome_iscrizioneC" id="" />
      <br />
      <label for="cognome_iscrizioneC">Cognome</label>
      <input type="text" name="cognome_iscrizioneC" id="" />
      <br />
      <label for="email_iscrizioneC">E-Mail</label>
      <input type="email" name="email_iscrizioneC" id="" />
      <br />
      <label for="password_iscrizioneC">Password</label>
      <input type="password" name="password_iscrizioneC" id="" />
      <br />
      <button type="submit">Iscriviti</button>
    </form>
  </body>
</html>
