<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Iscrizione</title>
  </head>
  <body>
    <h1>PANNELLO ISCRIZIONE</h1>
    <form action="./PannelloIscrizioneCliente.html/submit" method="POST">
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="" />
      <br />
      <label for="cognome">Cognome</label>
      <input type="text" name="cognome" id="" />
      <br />
      <label for="email">E-Mail</label>
      <input type="email" name="email" id="" />
      <br />
      <label for="password">Password</label>
      <input type="password" name="password" id="" />
      <br />
      <button type="submit">Iscriviti</button>
    </form>
  </body>
</html>
