<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/recensione" method="POST">
      <label for="stelle_r"
        >Quanto hai gradito il tuo soggiorno nella CASA?</label
      >
      <input type="number" name="stelle_r" id="" />
      <!--PROVATE A INSERIRE UN'ANIMAZIONE A MO' DI STELLINE -1 NUMERO -1 STELLA-->
      <br />
      <label for="commento_r">Lascia un commento sulla tua esperienza!</label>
      <input type="text" name="commento_r" id="" />
      <!--ALLARGATE IL CAMPO QUA-->
      <br />
      <button type="submit">
        Invia Recensione!
      </button>
    </form>
  </body>
</html>
