<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Iscrizione</title>
  </head>

  <body>
    <h1>PANNELLO ISCRIZIONE PROPRIETARIO</h1>
    <form action="/IscrizioneProprietario" method="POST">
      <label for="nome_iscrizioneP">Nome</label>
      <input type="text" name="nome_iscrizioneP" id="" />
      <br />
      <label for="cognome_iscrizioneP">Cognome</label>
      <input type="text" name="cognome_iscrizioneP" id="" />
      <br />
      <label for="email_iscrizioneP">E-Mail</label>
      <input type="email" name="email_iscrizioneP" id="" />
      <br />
      <label for="password_iscrizioneP">Password</label>
      <input type="password" name="password_iscrizioneP" id="" />
      <br />
      <button type="submit">Iscriviti</button>
    </form>
  </body>
</html>
