<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prenotazione</title>
  </head>

  <body>
    <form action="/calcoloTasse" method="POST">
      <label for="numero_ospiti_adulti_p">Numero ospiti adulti</label>
      <input type="number" name="numero_ospiti_adulti_p" id="" />
      <br />
      <label for="numero_ospiti_bambini_p">Numero ospiti bambini</label>
      <input type="number" name="numero_ospiti_bambini_p" id="" />
      <br />
      <label for="data_check_in_p">Data Check-In</label>
      <input type="date" name="data_check_in_p" id="" />
      <br />
      <label for="data_check_out_p">Data Check-Out</label>
      <input type="date" name="data_check_out_p" id="" />
      <br />
      <label for="animali_p">Presenza di animali?</label>
      <input type="checkbox" name="animali_p" id="" />
      <br />
      <label for="disabilita_p"
        >Uno degli ospiti è affetto da disabilità?</label
      >
      <input type="checkbox" name="disabilita_p" id="" />
      <br />
      <label for="viaggio_lavoro_p">Viaggio di lavoro?</label>
      <input type="checkbox" name="viaggio_lavoro_p" id="" />
      <br />
      <br />
      <br />
      <button type="submit">Avanti</button>
    </form>
  </body>
</html>
