<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuova Casa</title>
  </head>

  <body>
    <form action="/nuovaCasa" method="POST">
      <label for="indirizzo_nc">Indirizzo Casa</label>
      <input type="text" name="indirizzo_nc" id="" />
      <br />
      <label for="beb_nc">B&B</label>
      <input type="checkbox" name="beb_nc" id="" />
      <br />
      <label for="casa_vacanza_nc">Casa Vacanza</label>
      <input type="checkbox" name="casa_vacanza_nc" id="" />
      <br />
      <label for="camere_nc">Numero Camere</label>
      <input type="number" name="camere_nc" id="" />
      <br />
      <label for="bagni_nc">Numero Bagni</label>
      <input type="number" name="bagni_nc" id="" />
      <br />
      <label for="perimetro_nc">Perimetro Casa (metri quadri)</label>
      <input type="number" name="perimetro_nc" id="" />
      <br />
      <label for="tariffa_nc">Tariffa Giornaliera (euro)</label>
      <input type="number" name="tariffa_nc" id="" />
      <br />
      <label for="fasciatoio_nc">Fasciatoio</label>
      <input type="checkbox" name="fasciatoio_nc" id="" />
      <br />
      <label for="segnalatore_fumo_nc">Segnalatori Fumo</label>
      <input type="checkbox" name="segnalatore_fumo_nc" id="" />
      <br />
      <label for="servizi_disabili_nc">Servizi Disabili</label>
      <input type="checkbox" name="servizi_disabili_nc" id="" />
      <br />
      <label for="animali_nc">Animali</label>
      <input type="checkbox" id="" name="animali_nc" id="" />
      <br />
      <label for="cucina_nc">Cucina</label>
      <input type="checkbox" name="cucina_nc" id="" />
      <br />
      <label for="disponibilita_nc">Disponibilità</label>
      <input type="checkbox" name="disponibilita_nc" id="" />

      <br />
      <br />
      <button type="submit">Aggiungi Casa</button>
    </form>
  </body>
</html>
