<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pannello Login</title>
  </head>
  <body>
    <h1>ACCEDI</h1>
    <form action="datiCliente" method="POST">
      <label for="email_loginC">E-Mail</label>
      <input type="email" name="email_loginC" id="" />
      <br />
      <label for="password_loginC">Password</label>
      <input type="password" name="password_loginC" id="" />
      <br />
      <button type="submit">Accedi</button>
    </form>
    <br />
    <p>Non hai un account? <a href="SchermataIscrizione.html">Registrati</a></p>
    <br />
    <p><a href="forgotten_password.html">Password dimenticata</a></p>
  </body>
</html>
