<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schermata Casa</title>
  </head>
  <body>
    <h1>Informazioni casa</h1>
    <p>Codice Casa:</p>
    <p><%= visualizzaCasa[0].id_casa %></p>
    <br />
    <p>Nome Casa:</p>
    <p><%= visualizzaCasa[0].nome_casa %></p>
    <br />
    <p>Indirizzo:</p>
    <p><%= visualizzaCasa[0].indirizzo %></p>
    <p><%= visualizzaCasa[0].citta %></p>
    <br />
    <p>Email Proprietario:</p>
    <p><%= visualizzaCasa[0].proprietario %></p>
    <br />
    <p>B&B:</p>
    <p><%= visualizzaCasa[0].beb %></p>
    <br />
    <p>Codice:</p>
    <p><%= visualizzaCasa[0].casa_vacanza %></p>
    <br />
    <p>Numero Camere:</p>
    <p><%= visualizzaCasa[0].numero_camere %></p>
    <br />
    <p>Numero Bagni:</p>
    <p><%= visualizzaCasa[0].numero_bagno %></p>
    <br />
    <p>Cucina:</p>
    <p><%= visualizzaCasa[0].cucina %></p>
    <br />
    <p>Servizi Disabili:</p>
    <p><%= visualizzaCasa[0].servizi_disabili %></p>
    <br />
    <p>Faciatoio:</p>
    <p><%= visualizzaCasa[0].fasciatoio %></p>
    <br />
    <p>Perimetro Casa:</p>
    <p><%= visualizzaCasa[0].perimetro_casa %></p>
    <br />
    <p>Tariffa Giornaliera:</p>
    <p><%= visualizzaCasa[0].tariffa_giornaliera %></p>
    <br />
    <p>Ammontare Tasse:</p>
    <p><%= visualizzaCasa[0].ammontare_tasse %></p>
    <br />
    <p>Animali Ammessi:</p>
    <p><%= visualizzaCasa[0].animali_ammessi %></p>
    <br />
    <p>Segnalatori Fumo:</p>
    <p><%= visualizzaCasa[0].segnalatori_fumo %></p>
    <br />

    <a href="./views/PannelloPrenotazione.html">Prenota Casa</a>

    <br />
  </body>
</html>
