<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GEDA</title>
  </head>
  <body>
    <h1>BENVENUTO IN GEDA!</h1>
    <form action="/ricerca" method="POST">
      <input type="text" name="nome_casa_r" placeholder="Nome Casa..." />
      <br />
      <input type="text" name="citta_r" placeholder="Città..." />
      <br />
      <label for="check_in_r">Data Check-In</label>
      <input type="date" name="check_in_r" />

      <label for="check_out_r">Data Check-Out</label>
      <input type="date" name="check_out_r" />
      <button type="submit">Cerca</button>
    </form>
    <br />
    <a href="./SchermataAccesso.html">Accedi</a>
    <p>
      Non hai un account?
      <a href="./views/SchermataIscrizione.html">Registrati</a>
    </p>
    <br />
  </body>
</html>
