<!doctype html>

<html lang=”it”>
<head>
<meta charset=”utf-8″>
<title>GEDA B&B</title>
<link rel="stylesheet" type="text/css" href="css/FoglioDiStile.css">
<meta name=”description” content=””/>
<meta name=”keywords” content=””/>
</head>


<body>
  <div class="contenutoHome">

     <!--Inizio header-->
<header>

  <h1 class="testo_centrale"> BENVENUTO IN GEDA</h1>  

  <!--menu di navigazione-->
<ul id="menu"> 
  <li><a href="#">Home</a></li>
  <li><a href="#">Entra nel sito<span style="font-size:8px">&nabla;</span></a>
    <ul class="hidden"> 
      <li style="border-bottom:1px solid #CCC"><a href="./SchermataAccesso.html">Accedi</a></li>
      <li><a href="./SchermataIscrizione.html">Registrati</a></li>
    </ul>
  </li>
  <li><a href="#">Dove siamo</a></li>
  <li><a href="#">Servizi</a></li>
  <li><a href="#">Camere e tariffe</a></li>
  <li><a href="#">Contatti</a></li>
  <li><a href="#" style="border-right:0">Mappa</a></li>
</ul>
 <!--Fine menu di navigazione-->
      <!--Fine header-->


</header>   
 

     <!--Inizio parte centrale della home -->

<h2>Cerca una struttura e prenota una stanza</h2>
<div>
  <form  action="/ricerca" method="POST">
  <input type="text" name="citta_r" placeholder="cerca città"/>
</div>

  <br/>     
        <div class="testo_nero">
            <label for="check_in_r">Check In:</label>
            <input type="date" class="testo_nero" id="data-in" name="check_in_r" placeholder="gg/mm/aaaa" /> 
            <i class="icon_calendar"></i>
        </div>
       
        <div class="testo_nero">
            <label for="check_out_r">Check Out:</label>
            <input type="date" class="testo_nero" id="data-out" name="check_out_r" placeholder="gg/mm/aaaa" />
            <i class="icon_calendar"></i>
        </div>
      <div class="testo_nero">
        <button class="button2" type="submit">Cerca</button>
      </div>

</form>

<br />
<a href="./SchermataAccesso.html">Accedi</a>
<p>
  Non hai un account?
  <div>
  <a  href="./views/SchermataIscrizione.html">Registrati</a>
</div>
</p>

</div>

     <!--Fine parte centrale della home -->



 <!--Inizio footer-->

  <div class= "footer">
    <div class="contenitoreFooter">
        <div class="colonna1">
        <small>&copy;GEDA GROUP 1</small>
        </div>
   
        <div class="colonna2">
          <small>&copy;GEDA GROUP 2</small>
          </div>
     

          <div class="colonna3">
            <h4>Seguici</h4>
            <a href="#" img src="img/Logo_FB.png" alt="Facebook">Facebook</a>
            <a href="#" img src="img/Logo_IG.png" alt="Instagram" >Instagram</a>
            <a href="#" img src="img/Logo_whatsapp.png" alt="Whatsapp" >Whatsapp</a>
            </div>
       

   </div>
  </div>
 

   <!--Fine footer-->


 <!-- Bootstrap JS -->
 <script src="js/bootstrap.min.js"></script>


</body>
</html>

 