<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schermata Profilo Proprietario</title>
  </head>

  <body>
    <h1>Riepilogo Dati Personali</h1>
    <p>Nome:</p>
    <h3><%= accessoProprietario[0].nomeP %></h3>
    <p>Cognome:</p>
    <h3><%= accessoProprietario[0].cognomeP %></h3>
    <p>E-Mail:</p>
    <h4><%= accessoProprietario[0].emailP %></h4>

    <a href="./views/PannelloNuovaCasa.html">Aggiungi Casa</a>
    <a href="./views/PannelloLogout.html">Esci</a>

    <br />
  </body>
</html>
