<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista Case Proprietario</title>
  </head>
  <body>
    <h1>Lista Case di </h1>
    <h3><%= nome_proprietario %></h3>
    <h3><%= cognome_proprietario %></h3>
    <form action="/gestioneCasa" method="GET">
    <% for(var i=0; i<ListaCaseProprietario.length; i++){ %>
    <a href="gestioneCasa?id=<%= ListaCaseProprietario[i].id_casa %>"><%= ListaCaseProprietario[i].id_casa %></a>
    <h3><%= ListaCaseProprietario[i].nome_casa %></h3>
    <h3><%= ListaCaseProprietario[i].indirizzo %></h3>
    <h3><%= ListaCaseProprietario[i].citta %></h3>
    <% } %>
  </form></body>
</html>
