<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schermata Casa</title>
  </head>
  <body>
    <h1>Informazioni casa</h1>
    <p>Indirizzo:</p>
    <h3><%= ricercaCase[i].indirizzo %></h3>
    <p>Città:</p>
    <h3><%= ricercaCase[i].città %></h3>
    <p>E-Mail Proprietario:</p>
    <h4><%= ricercaCase[i].proprietario %></h4>
    <p>B&B:</p>
    <h4><%= ricercaCase[i].beb %></h4>
    <p>Casa Vacanza:</p>
    <h4><%= ricercaCase[i].casa_vacanza %></h4>
    <p>Numero Camere:</p>
    <h4><%= ricercaCase[i].numero_camere %></h4>
    <p>NUmero Bagni:</p>
    <h4><%= ricercaCase[i].numero_bagno %></h4>
    <p>Perimetro Abitazione:</p>
    <h4><%= ricercaCase[i].perimetro_casa %></h4>
    <p>Tariffa Giornaliera:</p>
    <h4><%= ricercaCase[i].tariffa_giornaliera %></h4>
    <p>Fasciatoio:</p>
    <h4><%= ricercaCase[i].fasciatoio %></h4>
    <p>Sengalatori Fumo:</p>
    <h4><%= ricercaCase[i].segnalatori_fumo %></h4>
    <p>Servizi Disabili:</p>
    <h4><%= ricercaCase[i].servizi_disabili %></h4>
    <p>Animali Ammessi:</p>
    <h4><%= ricercaCase[i].animali_ammessi %></h4>
    <p>Cucina:</p>
    <h4><%= ricercaCase[i].cucina %></h4>
    <p>Prima Data di Disponibilità:</p>
    <h4><%= ricercaCase[i].prima_data %></h4>
    <p>Ultima Data di Disponibilità:</p>
    <h4><%= ricercaCase[i].ultima_data %></h4>

    <a href="./views/PannelloPrenotazione.html">Prenota Casa</a>

    <br />
  </body>
</html>
