<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schermata Casa</title>
  </head>
  <body>
    <h1>Informazioni casa</h1>
    <p>Indirizzo:</p>
    <h3><%= accessoProprietario[0].indirizzo %></h3>
    <p>Città:</p>
    <h3><%= accessoProprietario[0].città %></h3>
    <p>E-Mail Proprietario:</p>
    <h4><%= accessoProprietario[0].proprietario %></h4>
    <p>B&B:</p>
    <h4><%= accessoProprietario[0].beb %></h4>
    <p>Casa Vacanza:</p>
    <h4><%= accessoProprietario[0].casa_vacanza %></h4>
    <p>Numero Camere:</p>
    <h4><%= accessoProprietario[0].numero_camere %></h4>
    <p>NUmero Bagni:</p>
    <h4><%= accessoProprietario[0].numero_bagno %></h4>
    <p>Perimetro Abitazione:</p>
    <h4><%= accessoProprietario[0].perimetro_casa %></h4>
    <p>Tariffa Giornaliera:</p>
    <h4><%= accessoProprietario[0].tariffa_giornaliera %></h4>
    <p>Fasciatoio:</p>
    <h4><%= accessoProprietario[0].fasciatoio %></h4>
    <p>Sengalatori Fumo:</p>
    <h4><%= accessoProprietario[0].segnalatori_fumo %></h4>
    <p>Servizi Disabili:</p>
    <h4><%= accessoProprietario[0].servizi_disabili %></h4>
    <p>Animali Ammessi:</p>
    <h4><%= accessoProprietario[0].animali_ammessi %></h4>
    <p>Cucina:</p>
    <h4><%= accessoProprietario[0].cucina %></h4>
    <p>Prima Data di Disponibilità:</p>
    <h4><%= accessoProprietario[0].prima_data %></h4>
    <p>Ultima Data di Disponibilità:</p>
    <h4><%= accessoProprietario[0].ultima_data %></h4>

    <a href="./views/PannelloPrenotazione.html">Prenota Casa</a>

    <br />
  </body>
</html>
