
 /*Impostazioni generali per la pagina*/
 html,body {
    min-height: 100%;
    margin:0;
    padding:0;
    background-color: rgba(63, 63, 63, 0.516);
    font-family: 'Roboto', sans-serif;
}

 

* {  /*La pagina principale è con ogni carattere bianco*/
    color: rgba(255, 255, 255, 0.9)
}

header {

    border: none;
    position: relative;
	padding: 32px;
	height: 130px;
    
}
.testo_nero{
    color: rgb(0, 0, 0)
}

.testo_centrale {
    text-align: center;
}

.spazio_vuoto_grande {
 white-space: 300px;
}

nav {
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0,);
    margin: 1%;
    padding: 1%;
}
main {
    float: left;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 0 1% 1%;
    padding: 1%;
    width: 67%;
}
 

/*regole di stile per lo slideshow delle foto*/

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 64%;
    height: 600px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 

}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}


/*regole di stile per il footer*/

 

.contenitoreFooter { 

    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    bottom : 0;
    background-color:rgba(63, 63, 63, 0.516);
    color: white;
    text-align: center;
    
 
   }
   
   .contenitoreFooter .colonna1{
        
       float: left; 
       width: 25%;
       margin: 0px;
       border-right: 1px solid black;
       padding-left: 1px;
       padding-right:1px;
   }
   .contenitoreFooter .colonna2{
   
       float: left; 
       width: 25%;
       margin: 0px;
       padding-left: 1px;
       padding-right:1px;
   }
   .contenitoreFooter .colonna3{
   
       float: right; 
       width: 30%;
       margin: 0px;
       display:block;
       padding-left: 1px;
       padding-right:1px;
   }
   
   


.colonna3 a {

display:block;
padding: 4px 4px 4px 4px;

}

 /* 
.footer, #push {
height: 200px;
}*/



 /* Stile dei moduli per l'immissione dei dati */


.modulo {

margin-left:7%;
margin-right:-5%;
margin-top:10%;
margin-bottom:20%;
background-color: rgb(69, 67, 56);
padding: 2%;
width: 80%;
border: medium solid black;
font-family:'Roboto', sans-serif; ;
color:black;
border-radius:6px;

}

.bloccoModulo {

    background-color: rgba(75, 101, 97, 0.694);
    border: thin dashed rgba(75, 101, 97, 0.694);
    padding: 2%;
    color:black;
    border-radius:6px;

}

.modulo form {
 
    margin-top:5%;
    padding-left:20%;
}

.modulo label {
    
    margin-top: 5%;
    margin-left: -10%;
    padding-right: 3%;
}



.modulo input {
    
    margin-top: 5%;
    margin-bottom: 3%;
    
}

.bottoneIscrizione {

    width:100%;

}

 







h1 {
    scale: 40px;
  }

  a:link, a:visited {
    text-decoration: none;
    color: black;
    text-align: center;
  }

  /*immagini*/

  .hero-image1 {
    background-image: url(https://images.wallpaperscraft.com/image/tourist_cliff_sky_rock_freedom_113926_2560x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    height: 750px;
    width: 50%;
    text-align: center;
  }

  .hero-text1 {
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
    text-decoration: none;
  }

  .hero-image2 {
    background-image: url(https://c1.wallpaperflare.com/preview/661/326/378/black-business-desk-diary.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
    height: 750px;
    width: 50%;
    text-align: center; 
  }

  .hero-text2 {
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
    text-decoration: none;
  }

  /*bottoni link*/

  .button1 {
    background-color: transparent;
    border: solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 8px;
    cursor: pointer;
    border-radius: 4px;
    width: 400px;
    margin-top: 45%;
    margin-left: 17%;
    margin-right: 22%;
   
  }

  .button1:hover, .button1:visited {
    color: gray;
    background-color: orange;
    text-decoration: none;
  }

  .button3 {
    background-color: transparent;
    border: solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 8px;
    cursor: pointer;
    border-radius: 4px;
    width: 400px;
    margin-top: 45%;
    margin-left: 23%;
    margin-right: 25%;
   
  }

  .button3:hover, .button3:visited {
    color: gray;
    background-color: orange;
    text-decoration: none;
  }

  .button2 {
    background-color: transparent;
    border: solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 10px;
    cursor: pointer;
    border-radius: 4px;
    height: 30px;
    width: 60px;
    margin-left: 1%;
    margin-right: 1%;
   
  }

  .button2:hover, .button1:visited {
    color: gray;
    background-color: orange;
    text-decoration: none;
  }

  .top {
	margin: 20px 20px 0px 20px;
	padding: 10px;
	border: 5px solid #ccc;
	background: #665;
	height: 100px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	height: 70px;
    }
    


   /* Da questa sezione in poi ci sono le regole di stile per il menu di navigazione */

    /* regole di reset */
ul{
    margin: 0;
    padding:0;
    list-style-type:none;
}

/*MENU PRINCIPALE*/
/* lista in orizzontale. inline-block è come inline, ma può avere altezza e larghezza relative occorre per il sottomenu */

#menu{
    width:100%;
    background-color:rgb(62, 61, 61);
    top:0;
    height:50px;
     font-size:14px;
     border-radius:6px;
    border-style:solid;
    border-color:white;
    border:thin;
     margin-top:-30px;
     margin-right:-5px;
     float:right;
    
}


#menu li{
    display:inline-block;
    position:auto;
    box-sizing: margin-box;
     padding:3px 3px 3px 3px;
     border-style:solid;
     border-color:white;
     border:thin;
     float:right;

    
     
 }

/* menu. Cambiando center l'oriento a destra o sinistra */

/* link menu.   */
li a{
    display:block;
    padding:10px 10px 10px 10px;
    width:auto;
    color:#fff;
    font:bold 14px;
    font-family: 'Roboto', sans-serif;
    text-decoration:none;
    margin-top:5px;
    margin-right:-5px;
    float:right;
     
}

/* link menu hover */
a:hover{
    background-color: orange;
    border-radius:6px;
}

/* SOTTOMENU PRINCIPALE */
#menu li .hidden{
    display:block;
    position:absolute;
    top:102px;
   
    background-color:rgb(87, 86, 86);
    visibility:hidden;
    margin:auto;
    border-right:none;
    border-radius:6px;
    width:auto;

}

/* link sottomenu */
#menu li .hidden li a{
    
    border-right:none;
    margin:auto;
}

/* animazione per il passaggio sopra agli elementi del menu */
#menu li:hover .hidden{
    margin-top:-70px;
    visibility:visible
}

/* TRIGRAMMA */
/* stile e invisibilità */
.showMenu{
    width:40px;
    border:1px solid black;
    margin:auto;
    color:black;
    text-align:center;
    font-size:5px;
    margin-bottom:10px;
   display:none 
}

/* invisibilità checkbox
Il checkbox va nascosto in ogni caso ed il menu comparirà quando esso verrà selezionato tramite click sull’etichetta */
input[type=checkbox]{display:none}

/* La tilde alt126 permette di selezionare tutti gli elementi B presenti in A; 
qui sta a significare che dà visibilità al menu quando il checkbox viene selezionato. */
input[type=checkbox]:checked ~ #menu{display:block}


/* MEDIA QUERIES */
/* rendo il menù responsivo per adattarlo ai dispositivi più piccoli, fino ad una risoluzione massima di 768px */
@media only screen and (max-width: 768px) {
  
#menu{
    border-radius:0;
    text-align:center;
    display:none}
  
/* rendo gli elementi dei menu elementi di blocco */  
ul li{display:block}
  
/* imposto la larghezza massima per gli elementi dei menu e i links */  
#menu li .hidden li,#menu li .hidden li a, ul li,ul li a{
    padding-right:0;
    padding-left:0;
    width:100%;
    border-right:none
}
  
/* mostro il sottomenu solo al passaggio del mouse */   
#menu li .hidden li{
    display:none}
#menu li:hover .hidden li{display:block}  

/* resetto la posizione degli elementi del menu. static valore di default. Gli elementi sono mostrati in ordine, come appaiono nel flusso del documento */  
#menu li{position:static}  
  
/* resetto la posizione del sottomenu e lo mostro */  
#menu li .hidden{position: static;visibility:visible}
  
/* nessuna animazione al passaggio del mouse */  
#menu li:hover .hidden{margin:0} 
  
/* colore di sfondo agli elementi del menu e del sottomenu */
#menu li{background-color:#3E3E3E}
#menu li .hidden li{background-color:rgb(62, 61, 61)}  
  
/* mostro il pulsante del menu nella versione mobile*/
.showMenu{display:block}  
  
}